.mini-map-walls {
    display: inline-block;
    margin: 20px;
}

.mini-map-block {
    display: inline-block;
    border: 1px solid #000000;
    width: 15px;
    height: 15px;
    margin: 0 2px 2px 2px;
    cursor: pointer;
}