#wrap {
    position: relative;
    margin: 0 auto;
    width: 1920px;
    height: 1080px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#ground {
    background: url(./images/ground.png) no-repeat;
    background-size: cover;
}

#pillars {
    background: url(./images/pillar.png) no-repeat;
    background-size: cover;
}

.blocks {
    font-size: 0;
}

.block {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin-bottom: -1px;
}

.block-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.block-image {
    width: 100%;
    height: 100%;
    background: url(images/block.png) no-repeat;
    background-size: contain;
}

#left-wall {
    position: absolute;
    bottom: 390px;
    left: 105px;
    perspective: 600px;
}

#left-wall .blocks {
    transform: rotateX(-1.8deg) rotateY(52deg);
}

#center-wall {
    positioN: absolute;
    left: 410px;
    bottom: 393px;
    perspective: 600px;
}

#center-wall .blocks {
    transform: translateZ(-230px);
}

#right-wall {
    position: absolute;
    bottom: 391px;
    right: 104px;
    perspective: 600px;
}

#right-wall .blocks {
    transform: rotateX(-.6deg) rotateY(-49deg);
}